/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#pokemon-info {
    margin-top: 20px;
}

.pokemon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: white;
}

.pokemon-card img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.favorite-btn {
    background-color: #ffcc00;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.favorite-btn:hover {
    background-color: #ff9900;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
