/* Reset de márgenes y padding */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "lato";
	background-color: #f4f4f9;
	color: #000000;
}

@font-face {
	font-family: pokemon-font;
	src: url(../fonts/pokemonsolid.ttf);
}

@font-face {
	font-family: lato;
	src: url(../fonts/Lato-Light.ttf);
}

/* Tags semanticos */

header {
	background-color: #00435F;
	padding: 10px 20px;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #FEDE84;
	width: 100%;
	text-transform: uppercase;
}


nav ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

nav ul li {
	padding: 5px 10px;
}

nav ul li a {
	text-decoration: none;
	color: #3c3c3c;
	font-weight: bold;
}

nav ul li a:hover {
	color: #FFFFFF;
	opacity: 70%;
}

main {
	padding: 20px;
	min-height: 768px;
}

.main_comp {
	background-color: #1f7042;
	min-height: 1080px;
}

h2 {
	color: #ffcb05;
	font-size: 2rem;
	margin-bottom: 10px;
}


/* Footer */
footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	font-family: lato;
}

/* aside */

aside {
	width: 15%;
	float: right;
	color: #00435f;
}


/* Estilo para el menú responsivo en pantallas pequeñas */
.responsive {
	display: none;
	font-size: 30px;
	cursor: pointer;
}


/* Logo */

.imagen img {
	width: 10%;
}





/* Sección de Pokémon */
#pokemon-info{
	display: flex;
	flex-wrap: wrap;
	}

.pokemon {
	text-align: center;
}

.pokemon img {
	width: 100px;
	height: 100px;
}

.pokemon h3 {
	margin-top: 10px;
	font-size: 1.2rem;
}


.imagen2 img {
	width: 30%;
	border: 1px solid #0f0f0f;
	border-radius: 10px;
	padding: 10px;
	text-align: center;

}


/* Modal */

#modal {
	display: none;
	position: fixed;
	z-index: 5;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	font-family: "Press Start 2P", system-ui;
	background-color: #00000055;
}

.modal-pokemon {
	background-color: #FFFFFF;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.info img {
	width: 30%;
}

.cerrar {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

/* Id nombre */


.id_nombre {
	height: 50px;
	border-radius: 30px;
	border: none;
	font-family: 'lato';
	width: 80%;
}



/* Botones */

.descripcion {
	width: 50px;
	height: 50px;
	/* margin:-5%; */
	border-radius: 50%;
	background-color: #4aaaaa;
	border: none;
	/*! color: #ffffff; */
}

.descripcion:hover {
	opacity: 70%;
}

.compartir {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #1f7042;
	border: none;
	color: #FFFFFF;
}

.compartir:hover {
	opacity: 70%;
}

.enviar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #24ab2c;
	border: none;
	color: #1f7042;
}

.enviar:hover {
	opacity: 70%;
}

.vermas {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #24ab2c;
	border: none;
	color: #ffffff|;
}

.vermas:hover {
	opacity: 70%;
}

.cancel {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #dd3e41;
	border: none;
	color: #1f7042;
}

.cancel:hover {
	opacity: 70%;
}

.reset {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ffa500;
	border: none;
	color: #1f7042;
}

.reset:hover {
	opacity: 70%;
}


.favoritos {
	width: 50px;
	height: 50px;
	/* margin:-5%; */
	border-radius: 50%;
	background-color: #faaaaa;
	border: none;
	/*! color: #ffffff; */
}

.favoritos:hover {
	opacity: 70%;
}

.boton_busqueda {
	width: 50px;
	height: 50px;
	/* margin:-5%; */
	border-radius: 50%;
	background-color: #ffffff;
	border: none;
	/*! color: #ffffff; */
}

.boton_busqueda:hover {
	opacity: 70%;
}

#eliminar {
	width: 20px;
	height: 20px;
	border-radius: 30px;
	background-color: #aaa319;
	border: none;
	color: #ffffff;
}

#eliminar:hover {
	opacity: 70%;
}

#eliminar-todos {
	width: 100px;
	height: 30px;
	border-radius: 10px;
	background-color: #ffa500;
	border: none;
	color: #ffffff;
	/* margin:-0.7%; */
}

#eliminar-todos:hover {
	opacity: 70%;
}

#filtro {
	height: 50px;
	border-radius: 30px 30px 30px 30px;
	border: none;
	font-family: 'lato';
	margin-bottom: 0.1%;
	width: 80%;
}

.icono_redes {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}


/* Formulario */


#email_receptor {
	margin-top: 0;
	height: 26px;
	border-radius: 30px;
	border-style: solid;
	width: 100%;
	box-sizing: border-box;
	font-family: 'lato';
}


#subject {
	margin-top: 0;
	height: 26px;
	border-radius: 30px;
	border-style: solid;
	width: 100%;
	box-sizing: border-box;
	font-family: 'lato';
}

#comentario {
	margin-top: 0;
	height: 100px;
	border-radius: 10px;
	border-style: solid;
	width: 100%;
	box-sizing: border-box;
	font-family: 'lato';
}


/* pokemon cards */

.pokemon-card {
	border-radius: 10px;
	text-align: center;
	margin-top: 20px;
	padding: 30px;
	width: 30%;
	background-color: #FFFFFF;
}

.pokemon-card img {
	width: 100px;
	height: 100px;
	margin-right: 20px;
}


#map {
	width: 100%;
}



/* Estilo Responsivo */
@media (max-width: 768px) {

	aside {
		display: none;
	}

	nav ul {
		display: none;
		width: 100%;
		text-align: center;
		padding-top: 20px;
	}


	nav ul li {
		margin: 10px 0;
	}

	.responsive {
		display: block;
	}

	nav.active ul {
		display: block;
	}

	.pokemon-list {
		flex-direction: column;
		align-items: center;
	}

	/* logo */

	.imagen img {
		width: 50%;
		margin-left: 25%;
	}

	/* Botones */

	.id_nombre {
		width: 80%;
	}

	#filtro {
		width: 80%;
	}
}